{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <hr>
        {% for service in services %}
            <div class="col-md-3 img-portfolio">
                <a href="{{ path('service_show', {'id': service.id}) }}">
                    <p> {{ service.name }} </p>
                    <img class="img-responsive img-hover" src="{{ service.name }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
