{% extends '::base.html.twig' %}

{% block body -%}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-sm-1 pull-right margin_small">
            <a href="{{ path('service_new') }}">
                <div class="btn btn-default"> New Service </div>
            </a>
        </div>
    {% endif %}

    <div class="container">
        {% if services | length > 0 %}
            {% for service in services %}
                <div class="col-md-3 img-portfolio">
                    <a href="{{ path('service_show', {'id': service.id}) }}">
                        <h3> {{ service.name }} </h3>
                        <img class="img-responsive img-hover" src="{{ asset(service.webpath) }}" alt="">
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <h5> No Services to show! </h5>
        {% endif %}
    </div>
{% endblock %}
