{% extends '::base.html.twig' %}

{% block body %}
    <!-- Slider -->
    {% if entities | length > 0 %}
    <div class="bannerbg">
        <div class="container clearfix">
            <div class="flexslider">
                <ul class="slides">
                    {% for entity in entities %}
                    <li>
                        <img src="{{ asset(entity.webpath) }}" alt=""/>

                        <p class="flex-caption">{{ entity.name }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /Slider -->

    <div class="clear padding40"></div>


    <!-- Content -->
    <section class="container clearfix">

        <!-- START FEATURED COLUMNS -->
        <div class="col_1_3">
            <div class="features">
                <div class="title clearfix">
                    <h3> Produse de calitate înaltă la prețuri rezonabile </h3>
                </div>
                <p>
                    Oferim produse de cele mai înaltă calitate la cele mai bune prețuri.
                    Toate produsele noastre sunt controlate să corespundă criteriilor de calitate.
                    <br/>
                    <a href="{{ path('product') }}"> Lista Produse </a>
                </p>
            </div>
        </div>
        <div class="col_1_3">
            <div class="features">
                <div class="title clearfix">
                    <h3> Servicii oferite de profesioniști certificați </h3>
                </div>
                <p>
                    Specialiștii noștri sunt certificați în domeniul în care oferă servicii și au o experiență vastă
                    în domeniu și pe piață.
                    <br/> <a href="#"> Lista Servicii </a>
                </p>
            </div>
        </div>
        <div class="col_1_3 last">
            <div class="features">
                <div class="title clearfix">
                    <h3> Experiență </h3>
                </div>
                <p>
                    Suntem o companie care realizeză importanța clienților și recenziilor bune de la ei.
                    <br/> <a href="{{ path('about') }}"> Despre noi </a>
                </p>
            </div>
        </div>
        <!-- END FEATURED COLUMNS -->

        <div class="clear padding10"></div>

        <div class="clear"></div>
        <div class="line"></div>
    </section>
    <!-- /Content -->

{% endblock %}